#buttonCitation {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #ff88ef 5%, #ff2cd1 100%);
  background-color: rgb(255, 121, 210);
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #FFF;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(255, 121, 210);
  ;
}